[Unit]
Description=daemon-util Armbian integration test
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/opt/daemon-itest/boot-test.sh
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
